@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

.mode-line {
    font-family: Meslo LG M DZ for Powerline, Avenir, Menlo, Monaco, "DejaVu Sans Mono", "Lucida Console", monospace;
    color: #bbc2cf !important;
    font-size: 15px !important;
    padding: 3px 6px 3px 6px !important;
     -moz-appearance: none;
    background-color: #1d2026 !important;
}

.mode-line label {
    color: #E0CF9F !important;
}
